#wrapper_ad {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    z-index: 0;

}


#wrapper_ad .ad.fixed{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10%;
    width: 200px;
    height: 800px;
    border: 1px solid var(--grey1);
    padding: 1rem;
}

#wrapper_ad .ad.left{
    left: 3rem;
}
#wrapper_ad .ad.right{
    right: 3rem;
}

#gallery .ad .horizontal{

    width: 100%;

}