#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

#gallery_items {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

#gallery_items .content {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border: 1px;
    background-color: white;
}


#gallery_items .content .image{
    z-index:5;
    position: absolute;
    top: 0;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
}

#gallery_items .content .meta{

    position: absolute;
    display: flex;
    z-index:5;
    height: 100%;
    width: 100%;
    opacity: 1;
}

#gallery_items .content .meta .top-right{

    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}

#gallery_items .content .meta .top-left{

    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
}

#gallery_items .content .meta .bottom-left{

    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    opacity: .6;
    border-radius: .5rem;

}


#gallery_items .content .meta .bottom-right{

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#gallery_items .content .meta .icon_info{

    color: white;
    font-size: 25px;
    position: relative;
    margin: 1px;
    opacity: 0.5;
    cursor: pointer;
}


#gallery #gallery_search {
    position: relative;
    top: 0;
    z-index:10;
    display: flex;
    flex-direction: column;
}


#gallery #gallery_search #gallery_search_bar{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 10rem;
    top: 1;
    background-color: var(--white);
    z-index:10;
    border-radius: 0 0 .5rem .5rem;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    cursor: pointer;
    text-align:center;
    margin: 0;
    padding: 0;
    opacity: .5;
    font-size: .8rem;
}
#gallery #gallery_search #gallery_search_bar input{
    line-height: .5rem;
    border-radius: 0 0 .5rem .5rem;
}
#gallery #gallery_search #gallery_search_bar i{
    padding: .2rem;
}