#wrapper_main {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 240px;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 1;
    border: .25px solid var(--grey1);

}

/*------------------------------------*/
#upper_navigation_bar {

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 6;
    border: none;
    background-color: white;

}

#upper_navigation_bar .main {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.25px solid var(--grey1);
    padding: .7rem;
}

#upper_navigation_bar .main #title {
    font-style: bold;
    font-size: 1.2rem;
}

#upper_navigation_bar .main #utils {
    display:flex;
    align-items: center;
    font-size: 1.2rem;
}

#upper_navigation_bar .main span {
    margin-left: .5rem;
    margin-top: .2rem;
}

#upper_navigation_bar .dropdown {
    position: relative;
    right: 0;
    cursor: pointer;
    display: none;
}

#upper_navigation_bar .dropdown #dropdown_user {

    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    width: 8rem;
    padding: .7rem;
    background-color: var(--white);
    border: 0.25px solid var(--grey1);
}


/*------------------------------------

#upper_navigation_bar .dropdown {


  position: absolute;

  padding: .7rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*------------------------------------*/



/*---------------------*/

#bird {
    position:relative;
    display: flex;
    flex-direction: column
}

#birds_seen {
    display: flex;
    flex-direction: row;

}

#birds_seen .birds_seen_year {
    display:flex;
    flex-direction: column;
    border: 1px solid #636363;
    padding: 10px;
    height: 300px;
    width: 300px;
    margin: 0px;
    background-color:yellow;
    overflow:scroll;
}


#birds_list {

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;

    border: 1px solid #636363;
    padding: 10px;
    height: 900px;
    margin: 0px;
    background-color:green;
    overflow:scroll;
}

#birds_list .grid-items {

    background-color:white;
    border: 1px solid #636363;
    overflow:scroll;
}

/*------------------------------------*/
/* The Loading Animation */
.loading{
    width: 150px;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    margin: 0 10px;
}
.first{
    animation: slide 2s  ease-in-out infinite ;
    animation-delay: .1s;
}
.second{
    animation: slide 2s ease-in-out infinite;
    animation-delay: .5s;
}
.third{
    animation: slide 2s ease-in-out infinite;
    animation-delay: 1s;
}

@keyframes slide{
    from{
        transform: translateY(-30px);
    }
    to{
        transform: translateY(0);
    }
}

/**/

.post_grid {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
}

.post_column {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 100%;
  width: 100%;
}



/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 2.25rem;
  left: 0;
  right: 0;
  font-size: .75rem;

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

