<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Birb.kr</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meta.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <!--https://www.flaticon.com/uicons-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons-regular-rounded.css')}}">
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=a28oscokn1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script type="text/javascript" src="https://unpkg.com/exifr@2.1.3/index.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/danfojs@1.0.2/lib/bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>


    <script src="https://cdn.tiny.cloud/1/wnj7dtx34x94ha64g1hieuc3w15s4c7wup7bgqjgyy2x6j4p/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.js"></script>-->
    <!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.css" rel="stylesheet"/>-->



    <link rel="icon" type="image/png" href="static/images/bird.png"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/open.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/mapNaver.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gallery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/birds.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/meta.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/board.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/post.js') }}"></script>

    <!-- <script type="text/javascript" src="static/vendor/tinymce/tinymce.min.js"></script> -->


    <script>
        let route = '{{ route }}'
        let route_params = '{{ route_param }}'
        let user_id = '{{ user_id }}'
    </script>


</head>
<body>
    <div id="wrapper_main">
        <div id="upper_navigation_bar">
            <div id="title">
                <span><a href="#" onclick="toggle('root')">BIRB.KR</a></span>
            </div>
            <div id="utils">

                <!-- <span><a href="/post" onclick="togglePost()"><i class="fi fi-rr-plus"></i></a></span> -->
                <span><a href="/editor" onclick="toggle('editor')"><i class="fi fi-rr-edit"></i></a></span>
                <span><a href="/gallery" onclick="toggle('gallery')"><i class="fi fi-rr-gallery"></i></a></span>
                <span><a href="/board" onclick="toggle('board')"><i class="fi fi-rr-list"></i></a></span>
                <span><a href="#" onclick="toggle('map')"><i class="fi fi-rr-map-marker"></i></a></span>
                <div class="dropdown">
                    <span><a onclick="alert('hello')"><i class="fi fi-rr-search"></i></a></span>
                </div>
                <div class="dropdown">
                    <span><a onclick="dropdownUser()"><i class="fi fi-rr-user"></i></a></span>
                    <div id="dropdown_user">
                        <a href="/user/`${user_id}`" onclick="toggle('user', `${user_id}`)">My Page</a>
                        <a href="/meta" onclick="toggle('meta')">My Item</i></a>
                        <a href="/bird" onclick="toggle('bird')">My collection</a>
                        <a href="/profile" onclick="toggle('profile')">My Profile</a>
                        <a href="/about" onclick="toggle('about')">Birb?</a>
                        <a onclick="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery" class='pane' style="display: none">
            <div id="gallery_search">
                <div id="gallery_search_bar"><input type="text" placeholder="bird"><i class="fi fi-rr-search"></i></div>
            </div>
            <div id="gallery_items">
            </div>
            <div>
                NO MORE ITEMS TO SHOW...
            </div>
        </div>
        <div id="board" class='pane' style="display: none">
            <div class="board_header">
            </div>
            <div id="board_contents" class="board_contents">
            </div>
            <div class="board_page">
                NO MORE POST TO SHOW...
            </div>
        </div>
        <div id="post" class="pane" style="display:none"></div>
        <div id="user" class="pane" style = 'display: none'>
            <div id="user_header">

            </div>
            <div id="user_body">
                <div id="user_body_header" class="tabs_header"></div>
                <div id="user_body_content"></div>
            </div>
        </div>
        <div id="bird" class="pane" style="display:none">
            <div id="bird_util">
                <button class='btn' onclick="getBirds()">get birds</button>
                <button class='btn' onclick="getCollection()">get Collection</button>
                <button class='btn' onclick="setCollection()">set Collection</button>

            </div>
            <div id="birds_seen">

            </div>

            <div id="birds_tool">
                <input type="text" placeholder="종명">
                <label for="select_year" >선택된종을 어느연도로</label>
                <select id="select_year" onchange="changeSelectedYear(this.value)">

                </select>
                <button>업데이트</button>
            </div>
            <div id="birds_list">
            </div>

        </div>
        <div id="profile" class="pane" style="display:none"></div>
        <div id="about" class="pane" style="display:none">
                <!--  <div id="icons">-->
                <!--      <div><span><a><i class="icon fi fi-rr-exclamation"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-eye-crossed"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-thumbs-up"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-trash"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-book-alt"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-info"></i></a></span></div>-->
                <!--      <div><span><a><i class="icon fi fi-rr-list-check"></i></a></span></div>-->
                <!--  </div>-->
            <div>
                <p><H1>TODO</H1></p>
                <p>- 비동기 썸네일생성 (SNS, SQS, 또는 BACKGROUND SINGLE TONE CLASS)</p>
                <p>- 비동기 이미지 퀄리티 스코어링 스크립트</p>
                <p>- </p>
                <p>- </p>
                <p>- </p>
                <p>- </p>
            </div>
            <div>
                <p><H1>DO</H1></p>
                <p>- </p>
            </div>
            <div>
                <p><H1>DO NOT</H1></p>
                <p>- 번식기(봄, 여름) 새와 상호작용을 일으키는 버드콜</p>
                <p>- 맹금류 피딩</p>
            </div>
        </div>
        <div id="editor" class="pane" style="display:none">
            <div id="editor_tool">
                <input id="editor_upload" type="file" accept="image/*" multiple style="display:none"/>
            </div>
            <div id="editor_header">
                <span class="select">
                    <select id="editor_category">
                    </select>
                </span>
                <input id="editor_title" type="text" placeholder="제목을 입력하세요">
                <span class="select">
                    <select id="editor_option">
                    </select>
                </span>
                <button id="editor_submit" onclick="submitPost()">submit</button>
            </div>
            <div id="editor_body">
                <textarea id="editor_textarea" placeholder="새와 관련된 모든것!"></textarea>
            </div>
            <div id="editor_map" style="display: none">
                <div id="wrapper_map_btns">
                    <button onclick="alert('here')">testA</button>
                    <button onclick="alert('here')">testB</button>
                    <button onclick="alert('here')">testC</button>
                </div>
                <div id="wrapper_map_mini" class="wrapper_map_mini"></div>
            </div>
        </div>
        <div id="meta" class="pane" style="display:none"></div>
        <div id="map" class="pane" style="display: none">
            <div id="map_naver" class="map"></div>
            <div id="map_extension">
                <div id="map_extension_search_bar">
                    <button class="btn" onclick="searchThisArea()">Search Here<i class="fi fi-rr-search"></i> </button>
                </div>
                <div id="map_extension_search_result">
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- confirm 모달을 쓸 페이지에 추가 start-->
        <section class="modal modal-section type-confirm">
            <div class="enroll_box">
                <p class="menu_msg"></p>
            </div>
            <div class="enroll_btn">
                <button class="btn pink_btn btn_ok">Yes</button>
                <button class="btn gray_btn modal_close">No</button>
            </div>
        </section>
        <!-- confirm 모달을 쓸 페이지에 추가 end-->

        <!-- alert 모달을 쓸 페이지에 추가 start-->
        <section class="modal modal-section type-alert">
            <div class="enroll_box">
                <p class="menu_msg"></p>
            </div>
            <div class="enroll_btn">
                <button class="btn pink_btn modal_close">Confirm</button>
            </div>
        </section>
        <!-- alert 모달을 쓸 페이지에 추가 end-->
    </div>







</body>
</html>
