<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Birb.kr</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
    <!--https://www.flaticon.com/uicons-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uicons-regular-rounded.css')}}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=a28oscokn1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script type="text/javascript" src="https://unpkg.com/exifr@2.1.3/index.js"></script>
    <script type="text/javascript" charset="utf8" src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.jsdelivr.net/npm/danfojs@1.0.2/lib/bundle.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.5/cropper.css" rel="stylesheet"/>


    <link rel="icon" type="image/png" href="static/images/bird.png"/>

    <script type="text/javascript" src="static/js/main.js"></script>
    <script type="text/javascript" src="static/js/post.js"></script>
    <script type="text/javascript" src="static/js/open.js"></script>
    <script type="text/javascript" src="static/js/mapNaver.js"></script>
    <script type="text/javascript" src="static/js/birds.js"></script>
    <script type="text/javascript" src="static/js/user.js"></script>
    <script>

        let route = '{{ route }}'
        let route_params = '{{ route_params }}'
        let user = 'gyb0418'
    </script>
    <!-- <script type="text/javascript" src="static/js/markerClustering.js"></script>-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.css" integrity="sha512-6QxSiaKfNSQmmqwqpTNyhHErr+Bbm8u8HHSiinMEz0uimy9nu7lc/2NaXJiUJj2y4BApd5vgDjSHyLzC8nP6Ng==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->


</head>
<body>
    <div id="wrapper_main">
        <div id="upper_navigation_bar">
            <div id="title">
                <span><a href="#" onclick="toggle('root')">BIRB.KR</a></span>
            </div>
            <div id="search_bar">
                <input type="text" placeholder="search for bird or birder">
                <span><button class="btn" onclick="alert('hello')"><i class="fi fi-rr-search"></i></button></span>
            </div>
            <div id="utils">
                <span><a href="/post" onclick="togglePost()"><i class="fi fi-rr-plus"></i></a></span>
                <span><a href="/gallery" onclick="toggle('gallery')"><i class="fi fi-rr-gallery"></i></a></span>
                <span><a href="/board" onclick="toggle('board')"><i class="fi fi-rr-list"></i></a></span>
                <span><a href="#" onclick="toggleMap('false')"><i class="fi fi-rr-map-marker"></i></a></span>
                <div class="dropdown">
                    <span><a onclick="dropdownUser()"><i class="fi fi-rr-user"></i></a></span>
                    <div id="dropdown_user">

                        <a href="/user/`${user}`" onclick="toggle('user', `${user}`)">My Page</a>
                        <a href="/bird" onclick="toggle('bird')">My collection</a>
                        <a href="/profile" onclick="toggle('profile')">My Profile</a>
                        <a href="/about" onclick="toggle('about')">Birb?</a>
                        <a onclick="logout()">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery" class='pane' style="display: none">
            <div id="column">
            </div>
            <div class="loading">
                    <div class="ball first"></div>
                    <div class="ball second"></div>
                    <div class="ball third"></div>
            </div>
        </div>
        <div id="board" class='pane' style="display: none">
        </div>
        <div id="post" class="pane" style = 'display: none'>
            <div id="post_util_container">
                <div class="add_images">
                    <button class="btn">
                        <label for="post_upload">
                            <i class="fi fi-rr-plus"></i> ADD IMAGE
                        </label>
                        <input id="post_upload" type="file" multiple />
                    </button>
                </div>
                <div class="upload_images">
                    <button class="btn" onclick="upload()">
                        <i class="fi fi-rr-plus"></i> UPLOAD SELECTED FILE
                    </button>
                </div>
                <div class="open_map">
                    <button class="btn" onclick="toggleMapSmall()">
                        <i class="fi fi-rr-map-marker"></i> OPEN MAP
                    </button>
                </div>
            </div>
            <div id="post_slide_container">
                <div id="for_button">
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    <span class="info">스크롤을 해라</span>
                </div>
                <div id="slides">

                </div>
                <div id="wrapper_map_mini" class="wrapper_map_mini" style="display: block"></div>

            </div>
        </div>
        <div id="user" class="pane" style = 'display: none'>
            <div id="user_header">
                <div id="user_header_left">
                    <img id="user_photo" src="https://cdn.pixabay.com/photo/2019/07/16/14/50/egrets-4342083_960_720.jpg">
                </div>
                <div id="user_header_right">
                    <div class="profile_row">
                        <div class="profile_label">nickname</div>
                        <div class="profile_value">jazz</div>
                    </div>
                    <div class="profile_row">
                        <div class="profile_label">contents</div>
                        <div class="profile_value">100</div>
                    </div>
                    <div class="profile_row">
                        <div class="profile_label">posts</div>
                        <div class="profile_value">100</div>
                    </div>
                    <div class="profile_row">
                        <div class="profile_label">instagram</div>
                        <div class="profile_value">100</div>
                    </div>
                    <div class="profile_row">
                        <div class="profile_label">introduction</div>
                        <div class="profile_value">birb birb</div>
                    </div>
                </div>
            </div>
            <div id="user_body">
                <div id="user_body_header" class="tabs_header"></div>
                <div id="user_body_content"></div>
            </div>
        </div>
        <div id="bird" class="pane" style="display:none">
            <div id="bird_util">
                <button class='btn' onclick="getBirds()">get birds</button>
                <button class='btn' onclick="getCollection()">get Collection</button>
                <button class='btn' onclick="setCollection()">set Collection</button>

            </div>
            <div id="birds_seen">

            </div>

            <div id="birds_tool">
                <input type="text" placeholder="종명">
                <label for="select_year" >선택된종을 어느연도로</label>
                <select id="select_year" onchange="changeSelectedYear(this.value)">

                </select>
                <button>업데이트</button>
            </div>
            <div id="birds_list">
            </div>

        </div>
        <div id="profile" class="pane" style="display:none"></div>
        <div id="about" class="pane" style="display:none">
            <div id="icons">
                <div><span><a><i class="icon fi fi-rr-exclamation"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-eye-crossed"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-thumbs-up"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-trash"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-book-alt"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-info"></i></a></span></div>
                <div><span><a><i class="icon fi fi-rr-list-check"></i></a></span></div>
            </div>
        </div>
        <div id="wrapper_map_vertical" class="wrapper_map" style="display: none"></div>
    </div>


    <div id="wrapper_map_horizontal" class="wrapper_map" style="display: none"></div>
    <div id="wrapper_map_extension" style="display: none">
        <div id="map_extension_search_bar">
            <button class="btn" onclick="searchThisArea()">Search Here <i class="fi fi-rr-search"></i> </button>
        </div>
        <div id="map_extension_search_result">
            <table id="map_extension_search_result_table">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Species</th>
                        <th>Observe_level</th>
                        <th>Count</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>







</body>
</html>
